@font-face {
    font-family: 'Accuratist';
    src: url('../public/accuratist.otf') format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: transparent; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: transparent; /* Gecko Browsers */
  }

body {
    color: white;
    background: black;
}

p {
    @apply text-lg;
}

section {
    @apply mx-auto w-3/4 md:w-1/2;
}